.flag-icon-ad,
.flag-icon-ad\:regular {
    background-image: url('../images/ad.svg');
    background-repeat: no-repeat
}

.flag-icon-ae,
.flag-icon-ae\:regular {
    background-image: url('../images/ae.svg');
    background-repeat: no-repeat
}

.flag-icon-af,
.flag-icon-af\:regular {
    background-image: url('../images/af.svg');
    background-repeat: no-repeat
}

.flag-icon-ag,
.flag-icon-ag\:regular {
    background-image: url('../images/ag.svg');
    background-repeat: no-repeat
}

.flag-icon-ai,
.flag-icon-ai\:regular {
    background-image: url('../images/ai.svg');
    background-repeat: no-repeat
}

.flag-icon-al,
.flag-icon-al\:regular {
    background-image: url('../images/al.svg');
    background-repeat: no-repeat
}

.flag-icon-am,
.flag-icon-am\:regular {
    background-image: url('../images/am.svg');
    background-repeat: no-repeat
}

.flag-icon-ao,
.flag-icon-ao\:regular {
    background-image: url('../images/ao.svg');
    background-repeat: no-repeat
}

.flag-icon-aq,
.flag-icon-aq\:regular {
    background-image: url('../images/aq.svg');
    background-repeat: no-repeat
}

.flag-icon-ar,
.flag-icon-ar\:regular {
    background-image: url('../images/ar.svg');
    background-repeat: no-repeat
}

.flag-icon-as,
.flag-icon-as\:regular {
    background-image: url('../images/as.svg');
    background-repeat: no-repeat
}

.flag-icon-at,
.flag-icon-at\:regular {
    background-image: url('../images/at.svg');
    background-repeat: no-repeat
}

.flag-icon-au,
.flag-icon-au\:regular {
    background-image: url('../images/au.svg');
    background-repeat: no-repeat
}

.flag-icon-aw,
.flag-icon-aw\:regular {
    background-image: url('../images/aw.svg');
    background-repeat: no-repeat
}

.flag-icon-ax,
.flag-icon-ax\:regular {
    background-image: url('../images/ax.svg');
    background-repeat: no-repeat
}

.flag-icon-az,
.flag-icon-az\:regular {
    background-image: url('../images/az.svg');
    background-repeat: no-repeat
}

.flag-icon-ba,
.flag-icon-ba\:regular {
    background-image: url('../images/ba.svg');
    background-repeat: no-repeat
}

.flag-icon-bb,
.flag-icon-bb\:regular {
    background-image: url('../images/bb.svg');
    background-repeat: no-repeat
}

.flag-icon-bd,
.flag-icon-bd\:regular {
    background-image: url('../images/bd.svg');
    background-repeat: no-repeat
}

.flag-icon-be,
.flag-icon-be\:regular {
    background-image: url('../images/be.svg');
    background-repeat: no-repeat
}

.flag-icon-bf,
.flag-icon-bf\:regular {
    background-image: url('../images/bf.svg');
    background-repeat: no-repeat
}

.flag-icon-bg,
.flag-icon-bg\:regular {
    background-image: url('../images/bg.svg');
    background-repeat: no-repeat
}

.flag-icon-bh,
.flag-icon-bh\:regular {
    background-image: url('../images/bh.svg');
    background-repeat: no-repeat
}

.flag-icon-bi,
.flag-icon-bi\:regular {
    background-image: url('../images/bi.svg');
    background-repeat: no-repeat
}

.flag-icon-bj,
.flag-icon-bj\:regular {
    background-image: url('../images/bj.svg');
    background-repeat: no-repeat
}

.flag-icon-bl,
.flag-icon-bl\:regular {
    background-image: url('../images/bl.svg');
    background-repeat: no-repeat
}

.flag-icon-bm,
.flag-icon-bm\:regular {
    background-image: url('../images/bm.svg');
    background-repeat: no-repeat
}

.flag-icon-bn,
.flag-icon-bn\:regular {
    background-image: url('../images/bn.svg');
    background-repeat: no-repeat
}

.flag-icon-bo,
.flag-icon-bo\:regular {
    background-image: url('../images/bo.svg');
    background-repeat: no-repeat
}

.flag-icon-bq,
.flag-icon-bq\:regular {
    background-image: url('../images/bq.svg');
    background-repeat: no-repeat
}

.flag-icon-br,
.flag-icon-br\:regular {
    background-image: url('../images/br.svg');
    background-repeat: no-repeat
}

.flag-icon-bs,
.flag-icon-bs\:regular {
    background-image: url('../images/bs.svg');
    background-repeat: no-repeat
}

.flag-icon-bt,
.flag-icon-bt\:regular {
    background-image: url('../images/bt.svg');
    background-repeat: no-repeat
}

.flag-icon-bv,
.flag-icon-bv\:regular {
    background-image: url('../images/bv.svg');
    background-repeat: no-repeat
}

.flag-icon-bw,
.flag-icon-bw\:regular {
    background-image: url('../images/bw.svg');
    background-repeat: no-repeat
}

.flag-icon-by,
.flag-icon-by\:regular {
    background-image: url('../images/by.svg');
    background-repeat: no-repeat
}

.flag-icon-bz,
.flag-icon-bz\:regular {
    background-image: url('../images/bz.svg');
    background-repeat: no-repeat
}

.flag-icon-ca,
.flag-icon-ca\:regular {
    background-image: url('../images/ca.svg');
    background-repeat: no-repeat
}

.flag-icon-cc,
.flag-icon-cc\:regular {
    background-image: url('../images/cc.svg');
    background-repeat: no-repeat
}

.flag-icon-cd,
.flag-icon-cd\:regular {
    background-image: url('../images/cd.svg');
    background-repeat: no-repeat
}

.flag-icon-cf,
.flag-icon-cf\:regular {
    background-image: url('../images/cf.svg');
    background-repeat: no-repeat
}

.flag-icon-cg,
.flag-icon-cg\:regular {
    background-image: url('../images/cg.svg');
    background-repeat: no-repeat
}

.flag-icon-ch,
.flag-icon-ch\:regular {
    background-image: url('../images/ch.svg');
    background-repeat: no-repeat
}

.flag-icon-ci,
.flag-icon-ci\:regular {
    background-image: url('../images/ci.svg');
    background-repeat: no-repeat
}

.flag-icon-ck,
.flag-icon-ck\:regular {
    background-image: url('../images/ck.svg');
    background-repeat: no-repeat
}

.flag-icon-cl,
.flag-icon-cl\:regular {
    background-image: url('../images/cl.svg');
    background-repeat: no-repeat
}

.flag-icon-cm,
.flag-icon-cm\:regular {
    background-image: url('../images/cm.svg');
    background-repeat: no-repeat
}

.flag-icon-cn,
.flag-icon-cn\:regular {
    background-image: url('../images/cn.svg');
    background-repeat: no-repeat
}

.flag-icon-co,
.flag-icon-co\:regular {
    background-image: url('../images/co.svg');
    background-repeat: no-repeat
}

.flag-icon-cr,
.flag-icon-cr\:regular {
    background-image: url('../images/cr.svg');
    background-repeat: no-repeat
}

.flag-icon-cu,
.flag-icon-cu\:regular {
    background-image: url('../images/cu.svg');
    background-repeat: no-repeat
}

.flag-icon-cv,
.flag-icon-cv\:regular {
    background-image: url('../images/cv.svg');
    background-repeat: no-repeat
}

.flag-icon-cw,
.flag-icon-cw\:regular {
    background-image: url('../images/cw.svg');
    background-repeat: no-repeat
}

.flag-icon-cx,
.flag-icon-cx\:regular {
    background-image: url('../images/cx.svg');
    background-repeat: no-repeat
}

.flag-icon-cy,
.flag-icon-cy\:regular {
    background-image: url('../images/cy.svg');
    background-repeat: no-repeat
}

.flag-icon-cz,
.flag-icon-cz\:regular {
    background-image: url('../images/cz.svg');
    background-repeat: no-repeat
}

.flag-icon-de,
.flag-icon-de\:regular {
    background-image: url('../images/de.svg');
    background-repeat: no-repeat
}

.flag-icon-dj,
.flag-icon-dj\:regular {
    background-image: url('../images/dj.svg');
    background-repeat: no-repeat
}

.flag-icon-dk,
.flag-icon-dk\:regular {
    background-image: url('../images/dk.svg');
    background-repeat: no-repeat
}

.flag-icon-dm,
.flag-icon-dm\:regular {
    background-image: url('../images/dm.svg');
    background-repeat: no-repeat
}

.flag-icon-dz,
.flag-icon-dz\:regular {
    background-image: url('../images/dz.svg');
    background-repeat: no-repeat
}

.flag-icon-ec,
.flag-icon-ec\:regular {
    background-image: url('../images/ec.svg');
    background-repeat: no-repeat
}

.flag-icon-ee,
.flag-icon-ee\:regular {
    background-image: url('../images/ee.svg');
    background-repeat: no-repeat
}

.flag-icon-eg,
.flag-icon-eg\:regular {
    background-image: url('../images/eg.svg');
    background-repeat: no-repeat
}

.flag-icon-eh,
.flag-icon-eh\:regular {
    background-image: url('../images/eh.svg');
    background-repeat: no-repeat
}

.flag-icon-er,
.flag-icon-er\:regular {
    background-image: url('../images/er.svg');
    background-repeat: no-repeat
}

.flag-icon-es-ct,
.flag-icon-es-ct\:regular {
    background-image: url('../images/es-ct.svg');
    background-repeat: no-repeat
}

.flag-icon-es,
.flag-icon-es\:regular {
    background-image: url('../images/es.svg');
    background-repeat: no-repeat
}

.flag-icon-et,
.flag-icon-et\:regular {
    background-image: url('../images/et.svg');
    background-repeat: no-repeat
}

.flag-icon-eu,
.flag-icon-eu\:regular {
    background-image: url('../images/eu.svg');
    background-repeat: no-repeat
}

.flag-icon-fi,
.flag-icon-fi\:regular {
    background-image: url('../images/fi.svg');
    background-repeat: no-repeat
}

.flag-icon-fj,
.flag-icon-fj\:regular {
    background-image: url('../images/fj.svg');
    background-repeat: no-repeat
}

.flag-icon-fk,
.flag-icon-fk\:regular {
    background-image: url('../images/fk.svg');
    background-repeat: no-repeat
}

.flag-icon-fm,
.flag-icon-fm\:regular {
    background-image: url('../images/fm.svg');
    background-repeat: no-repeat
}

.flag-icon-fo,
.flag-icon-fo\:regular {
    background-image: url('../images/fo.svg');
    background-repeat: no-repeat
}

.flag-icon-fr,
.flag-icon-fr\:regular {
    background-image: url('../images/fr.svg');
    background-repeat: no-repeat
}

.flag-icon-ga,
.flag-icon-ga\:regular {
    background-image: url('../images/ga.svg');
    background-repeat: no-repeat
}

.flag-icon-gb-eng,
.flag-icon-gb-eng\:regular {
    background-image: url('../images/gb-eng.svg');
    background-repeat: no-repeat
}

.flag-icon-gb-nir,
.flag-icon-gb-nir\:regular {
    background-image: url('../images/gb-nir.svg');
    background-repeat: no-repeat
}

.flag-icon-gb-sct,
.flag-icon-gb-sct\:regular {
    background-image: url('../images/gb-sct.svg');
    background-repeat: no-repeat
}

.flag-icon-gb-wls,
.flag-icon-gb-wls\:regular {
    background-image: url('../images/gb-wls.svg');
    background-repeat: no-repeat
}

.flag-icon-gb,
.flag-icon-gb\:regular {
    background-image: url('../images/gb.svg');
    background-repeat: no-repeat
}

.flag-icon-gd,
.flag-icon-gd\:regular {
    background-image: url('../images/gd.svg');
    background-repeat: no-repeat
}

.flag-icon-ge,
.flag-icon-ge\:regular {
    background-image: url('../images/ge.svg');
    background-repeat: no-repeat
}

.flag-icon-gf,
.flag-icon-gf\:regular {
    background-image: url('../images/gf.svg');
    background-repeat: no-repeat
}

.flag-icon-gg,
.flag-icon-gg\:regular {
    background-image: url('../images/gg.svg');
    background-repeat: no-repeat
}

.flag-icon-gh,
.flag-icon-gh\:regular {
    background-image: url('../images/gh.svg');
    background-repeat: no-repeat
}

.flag-icon-gi,
.flag-icon-gi\:regular {
    background-image: url('../images/gi.svg');
    background-repeat: no-repeat
}

.flag-icon-gl,
.flag-icon-gl\:regular {
    background-image: url('../images/gl.svg');
    background-repeat: no-repeat
}

.flag-icon-gm,
.flag-icon-gm\:regular {
    background-image: url('../images/gm.svg');
    background-repeat: no-repeat
}

.flag-icon-gn,
.flag-icon-gn\:regular {
    background-image: url('../images/gn.svg');
    background-repeat: no-repeat
}

.flag-icon-gp,
.flag-icon-gp\:regular {
    background-image: url('../images/gp.svg');
    background-repeat: no-repeat
}

.flag-icon-gq,
.flag-icon-gq\:regular {
    background-image: url('../images/gq.svg');
    background-repeat: no-repeat
}

.flag-icon-gr,
.flag-icon-gr\:regular {
    background-image: url('../images/gr.svg');
    background-repeat: no-repeat
}

.flag-icon-gs,
.flag-icon-gs\:regular {
    background-image: url('../images/gs.svg');
    background-repeat: no-repeat
}

.flag-icon-gt,
.flag-icon-gt\:regular {
    background-image: url('../images/gt.svg');
    background-repeat: no-repeat
}

.flag-icon-gu,
.flag-icon-gu\:regular {
    background-image: url('../images/gu.svg');
    background-repeat: no-repeat
}

.flag-icon-gw,
.flag-icon-gw\:regular {
    background-image: url('../images/gw.svg');
    background-repeat: no-repeat
}

.flag-icon-gy,
.flag-icon-gy\:regular {
    background-image: url('../images/gy.svg');
    background-repeat: no-repeat
}

.flag-icon-hk,
.flag-icon-hk\:regular {
    background-image: url('../images/hk.svg');
    background-repeat: no-repeat
}

.flag-icon-hm,
.flag-icon-hm\:regular {
    background-image: url('../images/hm.svg');
    background-repeat: no-repeat
}

.flag-icon-hn,
.flag-icon-hn\:regular {
    background-image: url('../images/hn.svg');
    background-repeat: no-repeat
}

.flag-icon-hr,
.flag-icon-hr\:regular {
    background-image: url('../images/hr.svg');
    background-repeat: no-repeat
}

.flag-icon-ht,
.flag-icon-ht\:regular {
    background-image: url('../images/ht.svg');
    background-repeat: no-repeat
}

.flag-icon-hu,
.flag-icon-hu\:regular {
    background-image: url('../images/hu.svg');
    background-repeat: no-repeat
}

.flag-icon-id,
.flag-icon-id\:regular {
    background-image: url('../images/id.svg');
    background-repeat: no-repeat
}

.flag-icon-ie,
.flag-icon-ie\:regular {
    background-image: url('../images/ie.svg');
    background-repeat: no-repeat
}

.flag-icon-il,
.flag-icon-il\:regular {
    background-image: url('../images/il.svg');
    background-repeat: no-repeat
}

.flag-icon-im,
.flag-icon-im\:regular {
    background-image: url('../images/im.svg');
    background-repeat: no-repeat
}

.flag-icon-in,
.flag-icon-in\:regular {
    background-image: url('../images/in.svg');
    background-repeat: no-repeat
}

.flag-icon-io,
.flag-icon-io\:regular {
    background-image: url('../images/io.svg');
    background-repeat: no-repeat
}

.flag-icon-iq,
.flag-icon-iq\:regular {
    background-image: url('../images/iq.svg');
    background-repeat: no-repeat
}

.flag-icon-ir,
.flag-icon-ir\:regular {
    background-image: url('../images/ir.svg');
    background-repeat: no-repeat
}

.flag-icon-is,
.flag-icon-is\:regular {
    background-image: url('../images/is.svg');
    background-repeat: no-repeat
}

.flag-icon-it,
.flag-icon-it\:regular {
    background-image: url('../images/it.svg');
    background-repeat: no-repeat
}

.flag-icon-je,
.flag-icon-je\:regular {
    background-image: url('../images/je.svg');
    background-repeat: no-repeat
}

.flag-icon-jm,
.flag-icon-jm\:regular {
    background-image: url('../images/jm.svg');
    background-repeat: no-repeat
}

.flag-icon-jo,
.flag-icon-jo\:regular {
    background-image: url('../images/jo.svg');
    background-repeat: no-repeat
}

.flag-icon-jp,
.flag-icon-jp\:regular {
    background-image: url('../images/jp.svg');
    background-repeat: no-repeat
}

.flag-icon-ke,
.flag-icon-ke\:regular {
    background-image: url('../images/ke.svg');
    background-repeat: no-repeat
}

.flag-icon-kg,
.flag-icon-kg\:regular {
    background-image: url('../images/kg.svg');
    background-repeat: no-repeat
}

.flag-icon-kh,
.flag-icon-kh\:regular {
    background-image: url('../images/kh.svg');
    background-repeat: no-repeat
}

.flag-icon-ki,
.flag-icon-ki\:regular {
    background-image: url('../images/ki.svg');
    background-repeat: no-repeat
}

.flag-icon-km,
.flag-icon-km\:regular {
    background-image: url('../images/km.svg');
    background-repeat: no-repeat
}

.flag-icon-kn,
.flag-icon-kn\:regular {
    background-image: url('../images/kn.svg');
    background-repeat: no-repeat
}

.flag-icon-kp,
.flag-icon-kp\:regular {
    background-image: url('../images/kp.svg');
    background-repeat: no-repeat
}

.flag-icon-kr,
.flag-icon-kr\:regular {
    background-image: url('../images/kr.svg');
    background-repeat: no-repeat
}

.flag-icon-kr-dims {
    width: 36px;
    height: 24px
}

.flag-icon-kw,
.flag-icon-kw\:regular {
    background-image: url('../images/kw.svg');
    background-repeat: no-repeat
}

.flag-icon-ky,
.flag-icon-ky\:regular {
    background-image: url('../images/ky.svg');
    background-repeat: no-repeat
}

.flag-icon-kz,
.flag-icon-kz\:regular {
    background-image: url('../images/kz.svg');
    background-repeat: no-repeat
}

.flag-icon-la,
.flag-icon-la\:regular {
    background-image: url('../images/la.svg');
    background-repeat: no-repeat
}

.flag-icon-lb,
.flag-icon-lb\:regular {
    background-image: url('../images/lb.svg');
    background-repeat: no-repeat
}

.flag-icon-lc,
.flag-icon-lc\:regular {
    background-image: url('../images/lc.svg');
    background-repeat: no-repeat
}

.flag-icon-li,
.flag-icon-li\:regular {
    background-image: url('../images/li.svg');
    background-repeat: no-repeat
}

.flag-icon-lk,
.flag-icon-lk\:regular {
    background-image: url('../images/lk.svg');
    background-repeat: no-repeat
}

.flag-icon-lr,
.flag-icon-lr\:regular {
    background-image: url('../images/lr.svg');
    background-repeat: no-repeat
}

.flag-icon-ls,
.flag-icon-ls\:regular {
    background-image: url('../images/ls.svg');
    background-repeat: no-repeat
}

.flag-icon-lt,
.flag-icon-lt\:regular {
    background-image: url('../images/lt.svg');
    background-repeat: no-repeat
}

.flag-icon-lu,
.flag-icon-lu\:regular {
    background-image: url('../images/lu.svg');
    background-repeat: no-repeat
}

.flag-icon-lv,
.flag-icon-lv\:regular {
    background-image: url('../images/lv.svg');
    background-repeat: no-repeat
}

.flag-icon-ly,
.flag-icon-ly\:regular {
    background-image: url('../images/ly.svg');
    background-repeat: no-repeat
}

.flag-icon-ma,
.flag-icon-ma\:regular {
    background-image: url('../images/ma.svg');
    background-repeat: no-repeat
}

.flag-icon-mc,
.flag-icon-mc\:regular {
    background-image: url('../images/mc.svg');
    background-repeat: no-repeat
}

.flag-icon-md,
.flag-icon-md\:regular {
    background-image: url('../images/md.svg');
    background-repeat: no-repeat
}

.flag-icon-me,
.flag-icon-me\:regular {
    background-image: url('../images/me.svg');
    background-repeat: no-repeat
}

.flag-icon-mf,
.flag-icon-mf\:regular {
    background-image: url('../images/mf.svg');
    background-repeat: no-repeat
}

.flag-icon-mg,
.flag-icon-mg\:regular {
    background-image: url('../images/mg.svg');
    background-repeat: no-repeat
}

.flag-icon-mh,
.flag-icon-mh\:regular {
    background-image: url('../images/mh.svg');
    background-repeat: no-repeat
}

.flag-icon-mk,
.flag-icon-mk\:regular {
    background-image: url('../images/mk.svg');
    background-repeat: no-repeat
}

.flag-icon-ml,
.flag-icon-ml\:regular {
    background-image: url('../images/ml.svg');
    background-repeat: no-repeat
}

.flag-icon-mm,
.flag-icon-mm\:regular {
    background-image: url('../images/mm.svg');
    background-repeat: no-repeat
}

.flag-icon-mn,
.flag-icon-mn\:regular {
    background-image: url('../images/mn.svg');
    background-repeat: no-repeat
}

.flag-icon-mo,
.flag-icon-mo\:regular {
    background-image: url('../images/mo.svg');
    background-repeat: no-repeat
}

.flag-icon-mp,
.flag-icon-mp\:regular {
    background-image: url('../images/mp.svg');
    background-repeat: no-repeat
}

.flag-icon-mq,
.flag-icon-mq\:regular {
    background-image: url('../images/mq.svg');
    background-repeat: no-repeat
}

.flag-icon-mr,
.flag-icon-mr\:regular {
    background-image: url('../images/mr.svg');
    background-repeat: no-repeat
}

.flag-icon-ms,
.flag-icon-ms\:regular {
    background-image: url('../images/ms.svg');
    background-repeat: no-repeat
}

.flag-icon-ms-dims {
    width: 36px;
    height: 24px
}

.flag-icon-mt,
.flag-icon-mt\:regular {
    background-image: url('../images/mt.svg');
    background-repeat: no-repeat
}

.flag-icon-mu,
.flag-icon-mu\:regular {
    background-image: url('../images/mu.svg');
    background-repeat: no-repeat
}

.flag-icon-mv,
.flag-icon-mv\:regular {
    background-image: url('../images/mv.svg');
    background-repeat: no-repeat
}

.flag-icon-mw,
.flag-icon-mw\:regular {
    background-image: url('../images/mw.svg');
    background-repeat: no-repeat
}

.flag-icon-mx,
.flag-icon-mx\:regular {
    background-image: url('../images/mx.svg');
    background-repeat: no-repeat
}

.flag-icon-my,
.flag-icon-my\:regular {
    background-image: url('../images/my.svg');
    background-repeat: no-repeat
}

.flag-icon-mz,
.flag-icon-mz\:regular {
    background-image: url('../images/mz.svg');
    background-repeat: no-repeat
}

.flag-icon-na,
.flag-icon-na\:regular {
    background-image: url('../images/na.svg');
    background-repeat: no-repeat
}

.flag-icon-nc,
.flag-icon-nc\:regular {
    background-image: url('../images/nc.svg');
    background-repeat: no-repeat
}

.flag-icon-ne,
.flag-icon-ne\:regular {
    background-image: url('../images/ne.svg');
    background-repeat: no-repeat
}

.flag-icon-nf,
.flag-icon-nf\:regular {
    background-image: url('../images/nf.svg');
    background-repeat: no-repeat
}

.flag-icon-ng,
.flag-icon-ng\:regular {
    background-image: url('../images/ng.svg');
    background-repeat: no-repeat
}

.flag-icon-ni,
.flag-icon-ni\:regular {
    background-image: url('../images/ni.svg');
    background-repeat: no-repeat
}

.flag-icon-nl,
.flag-icon-nl\:regular {
    background-image: url('../images/nl.svg');
    background-repeat: no-repeat
}

.flag-icon-no,
.flag-icon-no\:regular {
    background-image: url('../images/no.svg');
    background-repeat: no-repeat
}

.flag-icon-np,
.flag-icon-np\:regular {
    background-image: url('../images/np.svg');
    background-repeat: no-repeat
}

.flag-icon-nr,
.flag-icon-nr\:regular {
    background-image: url('../images/nr.svg');
    background-repeat: no-repeat
}

.flag-icon-nu,
.flag-icon-nu\:regular {
    background-image: url('../images/nu.svg');
    background-repeat: no-repeat
}

.flag-icon-nz,
.flag-icon-nz\:regular {
    background-image: url('../images/nz.svg');
    background-repeat: no-repeat
}

.flag-icon-om,
.flag-icon-om\:regular {
    background-image: url('../images/om.svg');
    background-repeat: no-repeat
}

.flag-icon-pa,
.flag-icon-pa\:regular {
    background-image: url('../images/pa.svg');
    background-repeat: no-repeat
}

.flag-icon-pe,
.flag-icon-pe\:regular {
    background-image: url('../images/pe.svg');
    background-repeat: no-repeat
}

.flag-icon-pf,
.flag-icon-pf\:regular {
    background-image: url('../images/pf.svg');
    background-repeat: no-repeat
}

.flag-icon-pg,
.flag-icon-pg\:regular {
    background-image: url('../images/pg.svg');
    background-repeat: no-repeat
}

.flag-icon-ph,
.flag-icon-ph\:regular {
    background-image: url('../images/ph.svg');
    background-repeat: no-repeat
}

.flag-icon-pk,
.flag-icon-pk\:regular {
    background-image: url('../images/pk.svg');
    background-repeat: no-repeat
}

.flag-icon-pl,
.flag-icon-pl\:regular {
    background-image: url('../images/pl.svg');
    background-repeat: no-repeat
}

.flag-icon-pm,
.flag-icon-pm\:regular {
    background-image: url('../images/pm.svg');
    background-repeat: no-repeat
}

.flag-icon-pn,
.flag-icon-pn\:regular {
    background-image: url('../images/pn.svg');
    background-repeat: no-repeat
}

.flag-icon-pr,
.flag-icon-pr\:regular {
    background-image: url('../images/pr.svg');
    background-repeat: no-repeat
}

.flag-icon-ps,
.flag-icon-ps\:regular {
    background-image: url('../images/ps.svg');
    background-repeat: no-repeat
}

.flag-icon-pt,
.flag-icon-pt\:regular {
    background-image: url('../images/pt.svg');
    background-repeat: no-repeat
}

.flag-icon-pw,
.flag-icon-pw\:regular {
    background-image: url('../images/pw.svg');
    background-repeat: no-repeat
}

.flag-icon-py,
.flag-icon-py\:regular {
    background-image: url('../images/py.svg');
    background-repeat: no-repeat
}

.flag-icon-qa,
.flag-icon-qa\:regular {
    background-image: url('../images/qa.svg');
    background-repeat: no-repeat
}

.flag-icon-re,
.flag-icon-re\:regular {
    background-image: url('../images/re.svg');
    background-repeat: no-repeat
}

.flag-icon-ro,
.flag-icon-ro\:regular {
    background-image: url('../images/ro.svg');
    background-repeat: no-repeat
}

.flag-icon-rs,
.flag-icon-rs\:regular {
    background-image: url('../images/rs.svg');
    background-repeat: no-repeat
}

.flag-icon-ru,
.flag-icon-ru\:regular {
    background-image: url('../images/ru.svg');
    background-repeat: no-repeat
}

.flag-icon-rw,
.flag-icon-rw\:regular {
    background-image: url('../images/rw.svg');
    background-repeat: no-repeat
}

.flag-icon-sa,
.flag-icon-sa\:regular {
    background-image: url('../images/sa.svg');
    background-repeat: no-repeat
}

.flag-icon-sb,
.flag-icon-sb\:regular {
    background-image: url('../images/sb.svg');
    background-repeat: no-repeat
}

.flag-icon-sc,
.flag-icon-sc\:regular {
    background-image: url('../images/sc.svg');
    background-repeat: no-repeat
}

.flag-icon-sd,
.flag-icon-sd\:regular {
    background-image: url('../images/sd.svg');
    background-repeat: no-repeat
}

.flag-icon-se,
.flag-icon-se\:regular {
    background-image: url('../images/se.svg');
    background-repeat: no-repeat
}

.flag-icon-sg,
.flag-icon-sg\:regular {
    background-image: url('../images/sg.svg');
    background-repeat: no-repeat
}

.flag-icon-sh,
.flag-icon-sh\:regular {
    background-image: url('../images/sh.svg');
    background-repeat: no-repeat
}

.flag-icon-si,
.flag-icon-si\:regular {
    background-image: url('../images/si.svg');
    background-repeat: no-repeat
}

.flag-icon-sj,
.flag-icon-sj\:regular {
    background-image: url('../images/sj.svg');
    background-repeat: no-repeat
}

.flag-icon-sk,
.flag-icon-sk\:regular {
    background-image: url('../images/sk.svg');
    background-repeat: no-repeat
}

.flag-icon-sl,
.flag-icon-sl\:regular {
    background-image: url('../images/sl.svg');
    background-repeat: no-repeat
}

.flag-icon-sm,
.flag-icon-sm\:regular {
    background-image: url('../images/sm.svg');
    background-repeat: no-repeat
}

.flag-icon-sn,
.flag-icon-sn\:regular {
    background-image: url('../images/sn.svg');
    background-repeat: no-repeat
}

.flag-icon-so,
.flag-icon-so\:regular {
    background-image: url('../images/so.svg');
    background-repeat: no-repeat
}

.flag-icon-sr,
.flag-icon-sr\:regular {
    background-image: url('../images/sr.svg');
    background-repeat: no-repeat
}

.flag-icon-ss,
.flag-icon-ss\:regular {
    background-image: url('../images/ss.svg');
    background-repeat: no-repeat
}

.flag-icon-st,
.flag-icon-st\:regular {
    background-image: url('../images/st.svg');
    background-repeat: no-repeat
}

.flag-icon-sv,
.flag-icon-sv\:regular {
    background-image: url('../images/sv.svg');
    background-repeat: no-repeat
}

.flag-icon-sx,
.flag-icon-sx\:regular {
    background-image: url('../images/sx.svg');
    background-repeat: no-repeat
}

.flag-icon-sy,
.flag-icon-sy\:regular {
    background-image: url('../images/sy.svg');
    background-repeat: no-repeat
}

.flag-icon-sz,
.flag-icon-sz\:regular {
    background-image: url('../images/sz.svg');
    background-repeat: no-repeat
}

.flag-icon-tc,
.flag-icon-tc\:regular {
    background-image: url('../images/tc.svg');
    background-repeat: no-repeat
}

.flag-icon-td,
.flag-icon-td\:regular {
    background-image: url('../images/td.svg');
    background-repeat: no-repeat
}

.flag-icon-tf,
.flag-icon-tf\:regular {
    background-image: url('../images/tf.svg');
    background-repeat: no-repeat
}

.flag-icon-tg,
.flag-icon-tg\:regular {
    background-image: url('../images/tg.svg');
    background-repeat: no-repeat
}

.flag-icon-th,
.flag-icon-th\:regular {
    background-image: url('../images/th.svg');
    background-repeat: no-repeat
}

.flag-icon-tj,
.flag-icon-tj\:regular {
    background-image: url('../images/tj.svg');
    background-repeat: no-repeat
}

.flag-icon-tk,
.flag-icon-tk\:regular {
    background-image: url('../images/tk.svg');
    background-repeat: no-repeat
}

.flag-icon-tl,
.flag-icon-tl\:regular {
    background-image: url('../images/tl.svg');
    background-repeat: no-repeat
}

.flag-icon-tm,
.flag-icon-tm\:regular {
    background-image: url('../images/tm.svg');
    background-repeat: no-repeat
}

.flag-icon-tn,
.flag-icon-tn\:regular {
    background-image: url('../images/tn.svg');
    background-repeat: no-repeat
}

.flag-icon-to,
.flag-icon-to\:regular {
    background-image: url('../images/to.svg');
    background-repeat: no-repeat
}

.flag-icon-tr,
.flag-icon-tr\:regular {
    background-image: url('../images/tr.svg');
    background-repeat: no-repeat
}

.flag-icon-tt,
.flag-icon-tt\:regular {
    background-image: url('../images/tt.svg');
    background-repeat: no-repeat
}

.flag-icon-tv,
.flag-icon-tv\:regular {
    background-image: url('../images/tv.svg');
    background-repeat: no-repeat
}

.flag-icon-tw,
.flag-icon-tw\:regular {
    background-image: url('../images/tw.svg');
    background-repeat: no-repeat
}

.flag-icon-tz,
.flag-icon-tz\:regular {
    background-image: url('../images/tz.svg');
    background-repeat: no-repeat
}

.flag-icon-ua,
.flag-icon-ua\:regular {
    background-image: url('../images/ua.svg');
    background-repeat: no-repeat
}

.flag-icon-ug,
.flag-icon-ug\:regular {
    background-image: url('../images/ug.svg');
    background-repeat: no-repeat
}

.flag-icon-um,
.flag-icon-um\:regular {
    background-image: url('../images/um.svg');
    background-repeat: no-repeat
}

.flag-icon-un,
.flag-icon-un\:regular {
    background-image: url('../images/un.svg');
    background-repeat: no-repeat
}

.flag-icon-us,
.flag-icon-us\:regular {
    background-image: url('../images/us.svg');
    background-repeat: no-repeat
}

.flag-icon-uy,
.flag-icon-uy\:regular {
    background-image: url('../images/uy.svg');
    background-repeat: no-repeat
}

.flag-icon-uz,
.flag-icon-uz\:regular {
    background-image: url('../images/uz.svg');
    background-repeat: no-repeat
}

.flag-icon-va,
.flag-icon-va\:regular {
    background-image: url('../images/va.svg');
    background-repeat: no-repeat
}

.flag-icon-vc,
.flag-icon-vc\:regular {
    background-image: url('../images/vc.svg');
    background-repeat: no-repeat
}

.flag-icon-ve,
.flag-icon-ve\:regular {
    background-image: url('../images/ve.svg');
    background-repeat: no-repeat
}

.flag-icon-vg,
.flag-icon-vg\:regular {
    background-image: url('../images/vg.svg');
    background-repeat: no-repeat
}

.flag-icon-vi,
.flag-icon-vi\:regular {
    background-image: url('../images/vi.svg');
    background-repeat: no-repeat
}

.flag-icon-vn,
.flag-icon-vn\:regular {
    background-image: url('../images/vn.svg');
    background-repeat: no-repeat
}

.flag-icon-vu,
.flag-icon-vu\:regular {
    background-image: url('../images/vu.svg');
    background-repeat: no-repeat
}

.flag-icon-wf,
.flag-icon-wf\:regular {
    background-image: url('../images/wf.svg');
    background-repeat: no-repeat
}

.flag-icon-ws,
.flag-icon-ws\:regular {
    background-image: url('../images/ws.svg');
    background-repeat: no-repeat
}

.flag-icon-ye,
.flag-icon-ye\:regular {
    background-image: url('../images/ye.svg');
    background-repeat: no-repeat
}

.flag-icon-yt,
.flag-icon-yt\:regular {
    background-image: url('../images/yt.svg');
    background-repeat: no-repeat
}

.flag-icon-za,
.flag-icon-za\:regular {
    background-image: url('../images/za.svg');
    background-repeat: no-repeat
}

.flag-icon-zm,
.flag-icon-zm\:regular {
    background-image: url('../images/zm.svg');
    background-repeat: no-repeat
}

.flag-icon-zw,
.flag-icon-zw\:regular {
    background-image: url('../images/zw.svg');
    background-repeat: no-repeat
}